snippet h1
	<h1>${1}</h1>
	${2}
snippet h2
	<h2>${1}</h2>
	${2}
snippet h3
	<h3>${1}</h3>
	${2}
snippet h4
	<h4>${1}</h4>
	${2}
snippet h5
	<h5>${1}</h5>
	${2}
snippet h6
	<h6>${1}</h6>
	${2}
snippet div
	<div ${1}>
		${2}
	</div>
snippet ul
	<ul>
		${1}
	</ul>
snippet li
	<li>${1}<li>${2}
snippet form
	<form id="${1}" method="${2}" action="${3}">
		${4}
	</form>
snippet label
	<label for="${1}">${2}</label>${3}
snippet input
	<input type="${1}" name="${2}" id="${3}"></input>${4}
