snippet rjsm
	define([
		'jquery',
		'underscore',
		'backbone',
		'marionette'
	], function(
		$,
		_,
		Backbone,
		Marionette
	) {
		"use strict";

		var ${1} = Backbone.Marionette.${2}.extend({

		});

		return ${3};
	});
snippet rjsb
	define([
		'jquery',
		'underscore',
		'backbone'
	], function(
		$,
		_,
		Backbone
	) {
		"use strict";

		var ${1} = Backbone.${2}.extend({

		});

		return ${3};
	});
